<div data-hook="registro_deposito_form_header">
  <h1><%= t(:registrando_deposito_para ) %> <%= @order[0].number %></h1>
</div>

<div data-hook="registro_deposito_form">
  <%= form_for @deposito_banco, :url => {:action => 'actualiza_deposito' } do |f|   %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div data-hook="registro_deposito_form_button">
    <%= render :partial => 'edit_resource_links' %>
  </div>
<% end %>
</div>
