<h1><%= t(:cliente_account) %></h1>

<table>
  <tr data-hook="nombre">
    <th><%= t(:nombre) %></th>
    <td>
      <%= @cliente.nombre %>
    </td>
  </tr>

  <tr data-hook="rif">
    <th><%= t(:rif) %></th>
    <td>
      <%= @cliente.rif %>
    </td>
  </tr>

  <tr data-hook="user_id">
    <th><%= t(:user_id) %></th>
    <td>
      <%= @cliente.user_id %>
    </td>
  </tr>

</table>

<p>
  <%= link_to_edit @cliente, :class => 'edit_cliente' %> <%= t(:or) %>
  <%= link_to t(:back), collection_url %>
</p>
