<div data-hook="registro_despacho_form_header">
  <h1><%= t(:registrando_despacho_para ) %> <%= @order_lines[0].order.number %></h1>
</div>

<div data-hook="registro_despacho_form">
  <%= form_for @order_lines, :url => {:action => 'actualiza_despacho' } do |f|   %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div data-hook="registro_despacho_form_button">
    <%= render :partial => 'edit_resource_links' %>
  </div>
<% end %>
</div>
