<div id="logo" data-hook>
  <% if current_user %>
    <%= t(:logged_in_as) %> <%=  current_user.email %>
  <%  else %>
    <%= logo %>
    <%= link_to t(:log_in), login_path %>
  <% end %>
</div>
<h1>
  Bienvenido a la Tienda Privada <b>"TiendaPVP"</b>
  donde podrás encontrar artículos reservados
  para un selecto grupo de clientes y usuarios.
</h1>

<h3>
  <br></br>
  Los convenios especiales logrados con proveedores de reconocidas
  marcas de los más diversos artículos de uso personal, deportes,
  hogar y entretenimiento permiten ofrecerlos a través de este medio
  con condiciones insuperables de precios y servicios de atención para las
  organizaciones afiliadas y sus socios.
  <br></br>
  Las ventajas de compra a través de este portal privado, están limitadas 
  para personas que pertenezcan a organizaciones con convenios vigentes con 
  TiendaPVP.
  <br></br>
  Si perteneces a una Organización que mantiene un convenio con <b>TiendaPVP</b>,
  ya puedes comenzar a beneficiarte de sus ventajas realizando la <%= link_to t(:identify), login_path %>.
  <br></br>
  Si todavía tu Organización no está afiliada a <b>TiendaPVP</b>, toma la iniciativa,
  envíanos un correo con tu información a: PVPTienda@gmail.com para que nos
  pongamos en contacto y todas las personas en tu Organización comiencen a disfrutar
  de nuestras ventajas exclusivas.
  <br></br>

  <%= link_to t(:log_in), login_path %>
</h3>